@import '../../../assets/scss/partials/vars';

.build-controls{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 25px 0;
    background: #cecece;
    color: $black;
    font-family: $baseFont;

    @media(min-width: $screen-md){
        flex-direction: row;
        flex-wrap: wrap;
    }

    h4 {
        display: block;
        width: 100%;
        padding-left: 20px;
        text-align: left;
    }

    .btn.order-now  {
        width: 80%;
        max-width: 375px;
        margin: 15px auto;
        text-align: left;

        @media(min-width: $screen-md){
            padding: 12px;
            text-align: center;
            
        }
    }

}