@import '../../assets/scss/partials/vars';
.btn {
    //background-color: transparent;
    margin: 10px;
    padding: 10px;
    border: none;
    color: black;
    font-family: $baseFont;
    font-weight: bold;

    &:disabled{
        cursor: none;
        opacity: 0.4;
    }
}

// .btn:first-of-type {
//     margin-left: 0;
//     padding-left: 0;
// }

.success {
    color: #5C9210;
}

.danger {
    color: #944317;
}