@import '../../../assets/scss/partials/vars';

.contact-data{
    h4 {
        width: 100%;
        text-align: center;
    }
    form {
        display: block;
        width: 400px;
        margin: 25px auto;

        input {
            display: block;
            width: 80%;
            margin: 10px auto;
        }
    }
}