/* VARS - TACO SHOP  ==================================
======================================================= */
$white: #FFFFFF;
$black: #000000;

// General COLORS
$dark-grey: rgba(64, 72, 62, 1);
$peach: rgba(252, 165, 126, 1);


 
// FONTS ===============================
$baseFont: 'Mont-Bold', sans-serif;


// Container size
// smartphones (portrait view)
$screen-xs: 376px;

// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 1024px;

// Large tablets and desktops
$screen-xl: 1200px;

// Super large
$screen-max: 1600px;

